@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #CC0001;
  --secondary-color: #fff3ed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  max-width: 1600px;
  padding-inline: 40px;
  margin: 0 auto;
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: var(--accent-color);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--accent-color);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--accent-color);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--accent-color);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}



/* Custom Css */
.banner{
  background: url('../../public/images/Banner_bg1.webp') 40% 80% no-repeat;
}
.testimonial-section .slick-list{
  padding-bottom: 20px;
}
html{
  scroll-behavior: smooth;
}

@media(max-width: 767px){
  .container {
    padding-inline:20px;
  }
  .cssbuttons-io-button{
    width: fit-content;
    font-size: 16px;
  }
}