@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #CC0001;
  --secondary-color: #fff3ed;
  --beige: #faf6ef;
  --heading-color: #383838;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: var(--accent-color);
  --color-secondary: var(--secondary-color);
  --color-beige: var(--beige);
  --color-heading: var(--heading-color);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  font-family: "Outfit", sans-serif !important;
}
body {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}
a,button{
  cursor: pointer;
}
.container{
  max-width: 1600px;
  padding-inline: 40px;
  margin: 0 auto;
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: var(--accent-color);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--accent-color);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border-radius: 0.4rem;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--accent-color);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--accent-color);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}



/* Custom Css */
.banner{
  background: url('../../public/images/Banner_bg1.webp') 40% 80% no-repeat;
}
.testimonial-section .slick-list{
  padding-bottom: 20px;
}
html{
  scroll-behavior: smooth;
}

@media(max-width: 767px){
  .container {
    padding-inline:20px;
  }
  .cssbuttons-io-button{
    width: fit-content;
    font-size: 16px;
  }
}


/* Dream Shield CSS */
.banner-dream{
  background: url('../../public/images/dream_banner.webp') 0% 0% no-repeat;
  background-size: cover;
}


/* Div cards */
.d-card-content {
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    transition: all 0.3s ease-in-out;
}
.d-card > a img {
    filter: grayscale(1);
    transition: all 0.2s ease-in;
}
.d-card > a:hover img {
    filter: grayscale(0);
}

.d-card > a:hover .d-card-content {
    bottom: 20px;
}
.foot-heading::before
 {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #cc0001;
    border-radius: 42px;
}

@media (max-width: 1280px) and (min-width: 767px) {
  .d-card-content {
    bottom: -135px;
  }
}
@media(max-width: 767px){
  .d-card-content {
    bottom: 40px;
}
}